<!DOCTYPE html>
<html lang="pt-br">
  <head>
    {% include "model-head.html" %}
  	{% load static %}
  </head>
  <body>
	<div id="corpo">
		{% include "model-superior.html" %}
		<div class="row" id="menu">
			<div class="col-sm-1"></div>
			<div class="col-sm-10">
				<center><h1>Minhas Salas</h1></center>
				<hr>
				<div class="row" style="height: 20%;">
					{% for minhasSalas in minhasSalas%}
						<div class="col-sm-2" id="divSalas">
							<a href="sala/{{ minhasSalas.codigo_sala }}">
								<center><h1>{{ minhasSalas.nome_sala }}</h1></center>
							</a>
						</div>
						&nbsp;&nbsp;&nbsp;&nbsp;
					{% endfor %}

					<div class="col-sm-2" id="divSalas">
						<a href="criarSala_cadastro">
							<center><h1 id="adicao">+</h1></center>
						</a>
					</div>

				</div>
				<center><h1>Salas que eu participo</h1></center>
				<hr>
				<div class="row" style="height: 20%;">
					{% for alunoSala in alunoSala %}
						<div class="col-sm-2" id="divSalas">
							<a href="sala/{{ alunoSala.codigo_sala }}">
								<center><h1>{{ alunoSala.nome_sala }}</h1></center>
							</a>
						</div>
						&nbsp;&nbsp;&nbsp;&nbsp;
					{% endfor %}

					<div class="col-sm-2" id="divSalas">
						<a href="minhasSalas/Entrar_em_uma_sala"><center><h1 id="adicao" data-toggle="modal" data-target="#entrarSala">+</h1></center></a>

						<div class="modal fade" id="entrarSala" role="text">
							<div class="modal-dialog modal-dialog-centered modal-lg">
							    <div class="modal-content" id="modalEntrarSala">
							        <div class="modal-header">
							          <h4 class="modal-title" id="tituloModal">Entrar em uma sala</h4>
							        </div>
							        <div class="modal-body">
							        	<p>Para entrar em uma sala peça para que seu professor te envie o código da sala e insira o mesmo no espaço abaixo:</p>
							          <form>
							          	<input type="text" name="codigo" id="inputCriarSala"><br><br>
							          
							        </div>
							        <div class="modal-footer">
							        	<input type="submit" name="enviar" id="inputCriarSala">
							          </form>
							          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							        </div>
							    </div>
							</div>
						</div>
					</div>
				</div>
				<center><h1>Salas que eu acompanho</h1></center>
				<hr>
				<div class="row" style="height: 20%;">
					<div class="col-sm-2" id="divSalas">
						<a href="">
							<center><h1 id="adicao">+</h1></center>
						</a>
					</div>
				</div>
			</div>
			<div class="col-sm-1"></div>
		</div>
	</div>
	<video autoplay muted loop id="backgroundVideo">
		<source src="{% static 'media/Background.mp4' %}" type="video/mp4">
  		Your browser does not support HTML5 video.
	</video>
	<script type="text/javascript">
		var vid = document.getElementById("backgroundVideo");
		vid.playbackRate = 0.4;
	</script>

   </body>
</html>